*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.m-contrainer{
    background-color: rgb(47, 1, 1);
    display: flex;
    color: white;
    justify-content: space-around;
     align-items: center;
    list-style: none;
    padding: 10px;
}
.logo{
    width: 120px;
   
}
.menu{
    display: flex;
}
li{
    margin-right: 5px;
    padding-right: 4px;
    font-size: 18px;
    cursor: pointer;
}
li:hover{
    color: aqua;
}
.rahi{
  width: 300px;
    
}
.home-contrainer{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    color: white;
    background-image: url("./images/background.png"),linear-gradient(-45deg,rgb(43, 2, 2),rgb(48, 40, 40));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.heading{
    font-size: 50px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
.description{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn{
    padding: 10px;
    background-color: rgb(104, 70, 1);
    border: none;
    border-radius: 5px;
    color: rgb(203, 196, 196);
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(144, 109, 3);
}
.aboout-head{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background: linear-gradient(45deg,rgb(60, 32, 0),rgb(228,177, 109));
}
.about-contrainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(228, 177, 109);

}
.a-c-text h3{
    font-size: 28px;
    margin-bottom: 10px;
}
.a-c-text p{
    font-size: 15px;
    margin-bottom: 5px;
}
.a-c-img{

}
.sec-img{
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sec-head{
    color: whitesmoke;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background: linear-gradient(180deg,rgb(228, 177, 109),rgb(59, 24, 24));
}
.service-contrainer{
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(59, 24, 24);
}
.box{
    background-color: black;
    width: 220px;
    height: 340px;
    align-items: center;
    box-shadow: 4px 8px 15px gray;
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
}
.box p{
    text-align: justify;
    font-size: 16px;
}
.box h4{
    font-size: 24px;
    margin: 10px 0px;
}
.box-img{
    width: 120px;
    align-items: center;
}
.btn0{
    background-color: gray;
    margin-top: 10px;
    color: white;
}

.foot-contrainer{
    background: linear-gradient(-90deg,rgb(52, 1, 1),rgb(34, 43, 34));
    display: flex;
    color: white;
    justify-content: space-around;
     align-items: center;
    list-style: none;
    padding: 10px;
}
.ft-logo{
    width: 140px;
    margin: 10px;
}
.logo1{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.social-link{
    
}
.foot-contrainer h2{
    margin: 15px 0px 20px;
    font-size: 24px;

}
.foot-contrainer a{
    text-decoration: none;
    color: white;
    display: block;
    margin: 5px;
}