*{
    margin: 0;
    padding: 0;
}
.m-contrainer{
    background-color: rgb(47, 1, 1);
    display: flex;
    color: white;
    justify-content: space-around;
     align-items: center;
    list-style: none;
    padding: 10px;
}
.logo{
    width: 120px;
   
}
.menu{
    display: flex;
}
li{
    margin-right: 5px;
    padding-right: 4px;
    font-size: 18px;
    cursor: pointer;
}
li:hover{
    color: aqua;
}
.rahi{
  width: 300px;
    
}
.home-contrainer{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    color: white;
    background-image: url("./images/background.png"),linear-gradient(-45deg,rgb(43, 2, 2),rgb(48, 40, 40));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.heading{
    font-size: 50px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
.description{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn{
    padding: 10px;
    background-color: rgb(104, 70, 1);
    border: none;
    border-radius: 5px;
    color: rgb(203, 196, 196);
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(144, 109, 3);
}
.aboout-head{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: rgb(163, 135, 97);
}
.about-contrainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(228, 177, 109);

}
.a-c-text h3{
    font-size: 28px;
    margin-bottom: 10px;
}
.a-c-text p{
    font-size: 15px;
    margin-bottom: 5px;
}
.a-c-img{

}
.sec-img{
    width: 300px;
    margin-top: 10px;
}